:root {
  --body-background-color: #17171A;
  --body-text-color: #f0ffff;
  --card-background-color: #141414;
  --nav-background-color: #141414;
  --nav-border-bottom-color: #141414;
  --nav-current-border-bottom-color: #141414;
  --card-border-color: #6366F1;
  --down-border-left-color: #6366F1;
  --down-background-color: #6366F1;
  --degraded-border-left-color: #6366F1;
  --up-border-left-color: #6366F1
  --tag-color: #6366F1;
  --tag-up-background-color: #b0e2c7;
  --tag-down-background-color: #fb8484;
  --tag-degraded-background-color: #f2d597;
  --change-background-color: #f2d597;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
